<style>

nav ul{
list-style-type:none;
        margin:0;
        padding:0;}

        nav li{
        display:inline-block;
        margin-right:70px;
        padding-top:23px;

      }
      nav a{color:purple;
      text-decoration: none;
    text-transform: uppercase;
  font-size:14px;}
  </style>
