<style>

h2{margin: 15px;
  padding:10px;}

h1{text-align:center}

h1 {
  color:rgb(12, 128, 17);
}
#intro-conclusion{color:rgb(16, 173, 173);}
h2 {
  color:rgb(222,20,108);}
  h3{
  color:rgb(112,198,235);}

body {
  background-color:rgb(240,226,232);
}

p{text-indent:40px;}

</style>
